@charset "utf-8";
/*
    Document    : desktop
    Author      : valmon, z-mode
    Description : Основной CSS файл

 Reset
-------------------------------------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,
blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,
font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,
ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    border:0;
    outline:0;
    font-weight:inherit;
    font-style:inherit;
    font-size:100%;
    font-family:inherit;
    vertical-align:baseline;
    margin:0;
    padding:0;
}

:focus {
    outline:0;
}

body {
    line-height:1;
    font-family:Arial;
    color:#fff;
    background:#ddd;
    font-size:14px;
    min-width:1004px;
    width:expression(document.body.clientWidth < 1004? "1004px": "auto" );
}

ol,ul {
    list-style:none;
}

table {
    border-collapse:collapse;
    border:none;
    empty-cells:show;
    border-spacing:0;
    width:100%;
}

caption,th,td {
    text-align:left;
    font-weight:normal;
}

blockquote:before,blockquote:after,q:before,q:after {
    content:"";
}

blockquote,q {
    quotes:"" "";
}

a {
    text-decoration:underline;
    color:inherit;
}

table td {
    margin:0;
    padding:5px 4px;
    color:#000;
}
table td.methods {
    text-align:right;
}
table tr.first {
    background:#ddd;
}
.clear {
    clear:both;
    height:1px;
}
input[type="text"],
input[type="password"],
input[type="file"],
select,
textarea {
    width:400px;
    margin:5px 0;
}
textarea {
    height: 400px;
}
p {
    padding:5px;
}
label {
    display:block;
}
/* CSS3
-------------------------------------------------------------------*/
.rounded {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}

.rounded_left {
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius:3px 0 0 3px;
    border-radius:3px 0 0 3px;
}

.rounded_right {
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-right-radius:3px;
    -moz-border-radius:0 3px 3px 0;
    border-radius:0 3px 3px 0;
}

.rounded_bottom {
    -webkit-border-bottom-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;
    -moz-border-radius:0 0 3px 3px;
    border-radius:0 0 3px 3px;
}
/* box_shadow - для IE (box_shadow_ie) */
.box_shadow {
    -moz-box-shadow:2px 2px 3px #969696;
    -webkit-box-shadow:2px 2px 3px #969696;
    box-shadow:2px 2px 3px #969696;
}
.text_shadow {
    text-shadow:#aaa 1px 1px 1px;
}

/* Основные блоки
-------------------------------------------------------------------*/
@font-face {
    font-family: "sony";  src: url(/stylesheets/font.ttf);
}
html {
    width:100%;
}

#header {
    font-size: 16px;
    padding:3px 22px;
    color:#333;
}

#header a{
    color:#333;
}

#header #logo {
    width:300px;
    float:left;
}

#header #flash_notice {
    float:left;
    padding: 5px;
    background: #fff;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}

#header #logo span {
    font-size:24px;
    font-family: "sony";
    text-shadow: 1px 0px 0px #ccc;
}

#header #login {
    padding:5px 0;
    float:right;
    width:auto;
}

#container {
    width:100%;
}
#main_menu {
    font-size: 16px;
    float:left;
    width:160px;
    margin-top: 60px;
    border-top: 1px #444 solid;
}
#main_menu div {
    padding:5px 10px;
    border-bottom: 1px #444 solid;
    color:#333;
}
#main_menu div:hover {
    background:#777;
    color:#fff;
}
#main_menu div.active {
    background:#555;
    color:#fff;
}
#main_menu div.active:hover {
    background:#555;
}
#main_menu a {
    display: block;
    text-decoration: none;
    color:inherit;
}
#container .line {
    width:auto;
    height:10px;
}
#container .caption {
    text-shadow: 1px 0px 0px #999;
    width:auto;
    height:18px;
    padding:8px;
    background:#555;
    color:#fff;
    font-size:18px;
    border-bottom: 2px #777 solid;
}
#container .caption .actions {
    float:right;
    line-height:14px;
}
#container #content {
    color:#000;
    margin-left: 160px;
    margin-right: 20px;
    width:auto;
    background:#fff;
    border: 4px solid #555;
    min-height: 600px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    padding:10px 0;
}
#content .actions a {
    margin-left: 20px;
    color:#fff;
    font-size:14px;
    text-decoration: none;
    border-bottom: 1px solid #fff;
}
#content .actions a:hover {
    color:#eee;
    border-bottom: 1px solid #eee;
}
#content #page {
    padding:10px;
    width:auto;
    background:#f2f2f2;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
#footer {

}
/* Авторизация
-------------------------------------------------------------------*/
#login_form {
    width:300px;
    margin:auto;
    margin-top:200px;
    background:#fff;
    border: 4px solid #555;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    padding:20px;
    color:#000;

}
#login_form input[type="password"],
#login_form input[type="text"] {
    width:100%;
    margin:5px 0;
}
#login_form label {
    display:block;
}

/* Главная страница
-------------------------------------------------------------------*/
#dashboard {
    width:100%;
}
#dashboard td{
    width:50%;
    padding: 35px 25px;
}
#dashboard .block{
    padding:15px 0;
    height:128px;
    width:100%;
    background:#ccc;
    border:1px #bbb solid;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    box-shadow:0 0 10px 0 #555555;
    -webkit-box-shadow:0 0 10px 0 #555555;
    -moz-box-shadow:0 0 10px 0 #555555;
}
#dashboard .block a{
    font-size:20px;
    text-shadow: 1px 0px 0px #ccc;
}
#dashboard .block li{
    list-style: circle;
    padding: 4px 0;
    margin-left: 40px;
}
#dashboard .block li a{
    font-size:16px;
    display:inline;
    color : #222;
}
#dashboard .block img{
    float:left;
}
#dashboard .block p{
    padding:15px 5px;
    font-size:14px;
    color:#333;
}

/* Пользователи
-------------------------------------------------------------------*/
#user_list {

}
/* Диалоги
-------------------------------------------------------------------*/
.dialog {
    width:400px;
    height:300px;
    position:absolute;
    background: gray;
    top:200px;
    left:50%;
    margin-left: -200px;
}
/* Фотографии
-------------------------------------------------------------------*/
.photo {
    width: 148px;
    margin:auto;
}
.photo_container {
    width:148px;
    padding:5px;
    height: 148px;
    overflow: hidden;
    vertical-align: middle;
    display: table-cell;
    border: 2px solid gray;
}