@charset "utf-8";
/*
    Document    : desktop
    Author      : valmon, z-mode
    Description : Основной CSS файл

 Reset
-------------------------------------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,
blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,
font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,
ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    border:0;
    outline:0;
    font-weight:inherit;
    font-style:inherit;
    font-size:100%;
    font-family:inherit;
    vertical-align:baseline;
    margin:0;
    padding:0;
}

:focus {
    outline:0;
}

body {
    line-height:1;
    font-family:"Times New Roman", Times, serif;
    color:#808080;
    background:#000;
    font-size:14px;
    min-width:1004px;
    width:expression(document.body.clientWidth < 1004? "1004px": "auto" );
}

ol,ul {
    list-style:none;
}

table {
    border-collapse:collapse;
    border:none;
    empty-cells:show;
    border-spacing:0;
    width:100%;
}

caption,th,td {
    text-align:left;
    font-weight:normal;
}

blockquote:before,blockquote:after,q:before,q:after {
    content:"";
}

blockquote,q {
    quotes:"" "";
}

a {
    text-decoration:underline;
    color:inherit;
}
a:hover{
    text-decoration:none;
}
/* Header
-------------------------------------------------------------------*/
#leftBlind {
    position:absolute;
    left:50%;
    width:209px;
    margin-left:-628px;
    background:url(/images/leftBlind.png) center no-repeat;
    height:793px;
    z-index:10;
    top:0;
}
#topBlind{
    position:absolute;
    left:50%;
    width:859px;
    height:169px;
    top:-70px;
    margin-left:-419px;
    background:url(/images/topBlind.png) center no-repeat;
    z-index:10;
}
#rightBlind{
    position:absolute;
    left:50%;
    top:0;
    width:212px;
    margin-left:417px;
    background:url(/images/rightBlind.png) center no-repeat;
    height:793px;
    z-index:10;
}
#header {
    margin:0 auto;
    width:996px;
    height:415px;
    z-index:-1;
}
#header img{
    position:relative;
    left:275px;
}
#logo {
    position:absolute;
    left:50%;
    margin-left:-385px;
    width:123px;
    top:20px;
}


#mainMenu {
    position:absolute;
    left:50%;
    margin-left:-405px;
    z-index: 11;
    top:150px;
    line-height:16.5px;
    font-family:"Times New Roman", Times, serif;
}

#mainMenu ul {
    margin:0;
    padding:0;
    list-style:none;
    background: url(/images/menu_icon.jpg) no-repeat;
}
#mainMenu li {
    padding-left:35px;
    width:185px;
    padding-bottom:11.5px;
    line-height:15px;
}
#mainMenu a{
    font-size:14px;
    color:#cf9969;
}
#mainMenu li.current a {
    color:#fff;
}

#secondMenu {
    padding-left: 75px;
    width: 840px;
    margin: 0 auto;
    line-height:16.5px;
    font-family:"Times New Roman", Times, serif;
}

#secondMenu ul {
    margin:0;
    padding:0;
    list-style:none;
}
#secondMenu li {
    padding-right:20px;
    padding-bottom:4px;
    line-height:15px;
    float: left;
}
#secondMenu a{
    font-size:14px;
    color:#cf9969;
}
#secondMenu li.current a {
    color:#fff;
}

/* Login form
-------------------------------------------------------------------*/

#login_form,
#user_profile {
    position:absolute;
    left:50%;
    margin-left:-200px;
    top:305px;
    width:250px;
}

#login_form label,
#login_form input {
    float:left;
    margin-bottom:5px;
}
#login_form label {
    margin-top:5px;
    width:50px;
    font-family:"Times New Roman", Times, serif;
    font-size:12px;
    color:#cf9969;
}
#login_form input {
    border: 1px solid #7d4b1e;
    background: #a27752;
    font-family:Tahoma;
    font-style:italic;
    color:#fff;
}
#login_form a {
    margin-left:50px;
    color:#cf9969;
}
#login_form input[type=password] {
    margin-right:0;
}
#login_form input[type=image] {
    border-right:0;
}
#user_profile .caption,
#login_form .caption {
    font-family:"Times New Roman", Times, serif;
    font-style:italic;
    font-size:18px;
    color:#fff;
    background:url(/images/lentochka.jpg)  no-repeat;
    padding:20px 0 5px 60px;
}
#user_profile .info {
    padding:5px;
    font-size:14px;
    color:#cf9969;
}
#user_profile .info a{
    color: #666666;
}


/* Catalogs
-------------------------------------------------------------------*/
#catalog .item{
    float:left;
    width:148px;
    padding:1px;
    margin-right:17px;
    margin-bottom:10px;
}
#catalog .item .img img {
    width:148px;
    height:140px;
}
#catalog .item .price {
    margin-top:-28px;
    *margin-left: -152px;
    *margin-top: 112px;
    position:absolute;
    background:#000000;
    font-size:28px;
    text-align:right;
    width:148px;
    background:url(/images/opacity_bg.png);
    color:#FFFFFF;
}
#catalog .item .price span {
    font-size:21px;
    padding-right:5px;
}

#catalog .item .title a {
    width:100px;
    float:left;
}
#catalog .item .title a {
    color:#cf9969;
    font-size:16px;
}

#catalog .item .to_trash a {
    text-decoration: none;
    border-bottom:1px dashed #cf9969;
    font-size:9px;
    color:#ab7615;
    cursor:pointer;
    float:right;
    font-family:Tahoma;
    line-height:16px;
}
/* Content
-------------------------------------------------------------------*/
#content {
    padding:0 0 20px 75px;
    margin:auto;
    width:840px;
    color:#999999;
    min-height: 400px;
}
#content h1 {
    font-size: 26px;
    font-style: italic;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
#content p {
    text-indent: 1em;
    margin-bottom: 15px;
    line-height: 16px;
    font-size: 16px;
}
#content a {
    color:#fff;
}
#content span {
    margin-bottom: 15px;
    line-height: 16px;
}
#content ul {
    list-style: circle outside;
    padding-left: 50px;
}
#copyright {
    color:#cf9969;
    padding:20px 100px;
    font-size: 12px;
    border-top: 1px solid #cf9969;
}
/* Class
-------------------------------------------------------------------*/
.clear {
    clear:both;
}
.title{
    color:#ffffff;
    font-size:36px;
    font-family:"Times New Roman", Times, serif;
    font-style:italic
}
.closeServiceContent{
    cursor:pointer;
}
.content-clear{
    height:200px;
    width:1px;
}
.defis {
    color:#e87485;
}

/* Стандартные форма
-------------------------------------------------------------------*/
.form input,
.form select,
.form textarea {
    width:300px;
    margin:3px 0;
    background: #A27752;
    border: 1px solid #7D4B1E;
    color: white;
}
.form input[type="submit"] {
    width:150px;
    cursor: pointer;
}
.form input[type="submit"]:active {
    margin-top: 4px;
}
.form label {
    display:block;
}
.form textarea {
    height:100px;
}
/* Комментарии
-------------------------------------------------------------------*/
.comment span {
    color: #fff;
}
.comment p {
    padding: 5px 0;
}
