<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
  <head>
    <title>Papipu | Панель администратора</title>
    <%= stylesheet_link_tag 'admin' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>